<ion-view>
    <ion-header-bar>
      <section layout="row" layout-align="center center" style="padding-left: 15px; padding-bottom: 5px; padding-top: 5px">
          <md-input-container>
              <label>참여 코드</label>
              <input ng-model="code">
          </md-input-container>
          <md-button ng-click="participate()" class="md-primary md-raised">참여</md-button>
        </section>
    </ion-header-bar>

    <ion-content class="has-header" scroll="true" padding>
        <section id="cd-timeline" class="cd-container">
                <div ng-repeat="activity in timeline">
                  <div class="cd-timeline-block">
                    <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
                    <div class="cd-timeline-picture text-center dark">
                      <img ng-src="img/{{activity.profilePicture}}"/>
                    </div>
                    <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
                    <div class="cd-timeline-content padding dark">
                        <h5 class="marginBottom0 marginTop0">{{activity.id}}</h5>
                        <p class="marginTop5 cd-author">{{activity.date | date: "d MMM"}}</p>
                        <p class="timelineText">{{activity.comment}}</p>
                    </div>
                  </div>
                </div>
        </section>
    </ion-content>

</ion-view>