<ion-view>

    <md-content layout-fill layout="column" layout-align="center center">

        <md-button class="" ng-click="goHome()" style="padding: 0px; margin: 0px;">수집 화면</md-button><br/>

        <div style="width: 100%;">
            <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-options="option" >
           </canvas>
        </div>

        <div style="width: 100%;">
            <canvas id="line_analysis" class="chart chart-line" chart-data="data_analysis"
              chart-labels="labels_analysis" chart-legend="true" chart-series="series_analysis"
              chart-options="option_analysis" >
           </canvas>
        </div>

        <div class="row" style="width:100%;" layout-align="center center" ng-style="state_style">
            {{current_state}} {{avg_magnitude | number:4}} {{sum_magnitude | number: 2}}
        </div>
        <div class="row" style="width:100%;" layout-align="center center">
            Recieved Channel : {{received_channel}}
        </div>

    </md-content>

    <div class="tabs no-border no-padding" style="height:auto; background-color: transparent; background-image: none;">
        <section layout="row" layout-align="center center" style="padding-bottom: 8px;">
          <md-button class="md-primary" ng-click="startCollection();" style="padding: 0px; margin: 0px;">시작</md-button>
          <md-button class="md-warn" ng-click="stopCollection();" style="padding: 0px; margin: 0px;">종료</md-button>
        </section>
   </div>

</ion-view>