<ion-view>
    <md-content layout-fill layout="column" layout-align="center center">

            <md-input-container>
              <label>Name</label>
              <input ng-model="name">
            </md-input-container>

            <div class="col-sm-6">
                <md-button ng-click="startOrigin()" class="md-primary md-raised">Origin</md-button>
                <md-button ng-click="startParticipant()" class="md-raised">Participant</md-button>
            </div>


    </md-content>

</ion-view>