<ion-view>

    <md-content layout-fill layout="column" layout-align="center center">
        <div layout-fill style="height:100vh" layout="column">
          <div flex layout="row" style="border:1px solid gray;" ng-style="origin_information.style">
            <div layout="column" layout-fill>
                <div style="width:100%" layout-padding="5" class="lead">{{origin_information.id}} <b ng-show="origin_information.me"> ( Me )</b></div>
                <div layout="column" style="height:100vh" layout-fill layout-align="center center">
                    {{origin_information.message}}
                </div>
            </div>
          </div>
          <div flex layout="row" style="border:1px solid gray;" ng-style="user1_information.style">
            <div layout="column" layout-fill>
                <div style="width:100%" layout-padding="5" class="lead">{{user1_information.id}} <b ng-show="user1_information.me">( Me )</b></div>
                <div layout="column" style="height:100vh" layout-fill layout-align="center center">
                    {{user1_information.message}}
                </div>
            </div>
          </div>
          <div flex layout="row" style="border:1px solid gray;" ng-style="user2_information.style">
            <div layout="column" layout-fill>
                <div style="width:100%" layout-padding="5" class="lead">{{user2_information.id}} <b ng-show="user2_information.me">( Me )</b></div>
                <div layout="column" style="height:100vh" layout-fill layout-align="center center">
                    {{user2_information.message}}
                </div>
            </div>
          </div>
        </div>
    </md-content>

</ion-view>